In [1]:
# ! pip install --upgrade pip --user

Requirement already satisfied: pip in c:\users\hemant\appdata\roaming\python\python38\site-packages (21.3.1)

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)

In [2]:
# ! pip install -r requirements.txt

Collecting absl-py==0.9.0
  Using cached absl-py-0.9.0.tar.gz (104 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: alabaster==0.7.12 in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (0.7.12)
Collecting albumentations==0.1.12
  Using cached albumentations-0.1.12.tar.gz (59 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting altair==4.1.0
  Using cached altair-4.1.0-py3-none-any.whl (727 kB)
Collecting asgiref==3.2.10
  Using cached asgiref-3.2.10-py3-none-any.whl (19 kB)
Collecting astor==0.8.1
  Using cached astor-0.8.1-py2.py3-none-any.whl (27 kB)
Collecting astropy==4.0.1.post1
  Using cached astropy-4.0.1.post1-cp38-cp38-win_amd64.whl (6.2 MB)
Requirement already satisfied: astunparse==1.6.3 in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 8)) (1.6.3)
Collecting atari-py==0.2.6
  Using cached atari-py-0.2.6.tar.gz (790 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: atomicwrites==1.4.0 in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 10)) (1.4.0)
Collecting attrs==19.3.0
  Using cached attrs-19.3.0-py2.py3-none-any.whl (39 kB)
Collecting audioread==2.1.8
  Using cached audioread-2.1.8.tar.gz (21 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting autograd==1.3
  Using cached autograd-1.3.tar.gz (38 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting Babel==2.8.0
  Using cached Babel-2.8.0-py2.py3-none-any.whl (8.6 MB)
Requirement already satisfied: backcall==0.2.0 in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 15)) (0.2.0)
Collecting beautifulsoup4==4.6.3
  Using cached beautifulsoup4-4.6.3-py3-none-any.whl (90 kB)
Collecting bleach==3.1.5
  Using cached bleach-3.1.5-py2.py3-none-any.whl (151 kB)
Collecting blis==0.4.1
  Using cached blis-0.4.1-cp38-cp38-win_amd64.whl (5.0 MB)
Collecting bokeh==1.4.0
  Using cached bokeh-1.4.0.tar.gz (32.4 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: boto==2.49.0 in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 20)) (2.49.0)
Collecting boto3==1.14.9
  Using cached boto3-1.14.9-py2.py3-none-any.whl (128 kB)
Collecting botocore==1.17.9
  Using cached botocore-1.17.9-py2.py3-none-any.whl (6.3 MB)
Requirement already satisfied: Bottleneck==1.3.2 in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 23)) (1.3.2)
Collecting branca==0.4.1
  Using cached branca-0.4.1-py3-none-any.whl (24 kB)
Collecting bs4==0.0.1
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting CacheControl==0.12.6
  Using cached CacheControl-0.12.6-py2.py3-none-any.whl (19 kB)
Collecting cachetools==4.1.0
  Using cached cachetools-4.1.0-py3-none-any.whl (10 kB)
Collecting catalogue==1.0.0
  Using cached catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Collecting certifi==2020.6.20
  Using cached certifi-2020.6.20-py2.py3-none-any.whl (156 kB)
Collecting cffi==1.14.0
  Using cached cffi-1.14.0-cp38-cp38-win_amd64.whl (177 kB)
Collecting chainer==6.5.0
  Using cached chainer-6.5.0.tar.gz (876 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting chardet==3.0.4
  Using cached chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Requirement already satisfied: click==7.1.2 in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 33)) (7.1.2)
Collecting cloudpickle==1.3.0
  Using cached cloudpickle-1.3.0-py2.py3-none-any.whl (26 kB)
Collecting cmdstanpy==0.4.0
  Using cached cmdstanpy-0.4.0-py3-none-any.whl (22 kB)
Collecting colorlover==0.3.0
  Using cached colorlover-0.3.0-py3-none-any.whl (8.9 kB)
Collecting community==1.0.0b1
  Using cached community-1.0.0b1.tar.gz (2.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting contextlib2==0.5.5
  Using cached contextlib2-0.5.5-py2.py3-none-any.whl (8.1 kB)
Collecting convertdate==2.2.1
  Using cached convertdate-2.2.1-py2.py3-none-any.whl (43 kB)
Collecting coverage==3.7.1
  Using cached coverage-3.7.1.tar.gz (284 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting coveralls==0.5
  Using cached coveralls-0.5.zip (18 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting crcmod==1.7
  Using cached crcmod-1.7.tar.gz (89 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting cufflinks==0.17.3
  Using cached cufflinks-0.17.3.tar.gz (81 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting cvxopt==1.2.5
  Using cached cvxopt-1.2.5.tar.gz (6.7 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting cvxpy==1.0.31
  Using cached cvxpy-1.0.31.tar.gz (947 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'error'

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
  ERROR: Command errored out with exit status 1:
   command: 'C:\ProgramData\Anaconda3\python.exe' 'C:\Users\Hemant\AppData\Roaming\Python\Python38\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\Hemant\AppData\Local\Temp\tmpayaa22h6'
       cwd: C:\Users\Hemant\AppData\Local\Temp\pip-install-e2tqpgtw\cvxpy_a3e93843321e40f2a1a602a74137abe9
  Complete output (1 lines):
  error in cvxpy setup command: use_2to3 is invalid.
  ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/11/d0/d900870dc2d02ea74961b90c353666c6528a33ea61a10aa59a0d5574ae59/cvxpy-1.0.31.tar.gz#sha256=b398754f9e9ceaa46b07806b5ae85f90fd8de748475db22a6b99c5943cebe69d (from https://pypi.org/simple/cvxpy/). Command errored out with exit status 1: 'C:\ProgramData\Anaconda3\python.exe' 'C:\Users\Hemant\AppData\Roaming\Python\Python38\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\Hemant\AppData\Local\Temp\tmpayaa22h6' Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement cvxpy==1.0.31 (from versions: 0.1, 0.2, 0.2.1, 0.2.2, 0.2.3, 0.2.4, 0.2.5, 0.2.6, 0.2.7, 0.2.9, 0.2.10, 0.2.11, 0.2.12, 0.2.13, 0.2.14, 0.2.15, 0.2.16, 0.2.17, 0.2.18, 0.2.19, 0.2.20, 0.2.21, 0.2.22, 0.2.23, 0.2.24, 0.2.25, 0.2.26, 0.2.27, 0.2.28, 0.3.0, 0.3.1, 0.3.3, 0.3.4, 0.3.5, 0.3.6, 0.3.7, 0.3.8, 0.3.9, 0.4.0, 0.4.1, 0.4.2, 0.4.3, 0.4.4, 0.4.5, 0.4.6, 0.4.8, 0.4.9, 0.4.10, 0.4.11, 1.0.2, 1.0.3, 1.0.4, 1.0.5, 1.0.6, 1.0.8, 1.0.9, 1.0.10, 1.0.11, 1.0.12, 1.0.13, 1.0.14, 1.0.15, 1.0.16, 1.0.17, 1.0.18, 1.0.19, 1.0.20, 1.0.21, 1.0.22, 1.0.23, 1.0.24, 1.0.25, 1.0.26, 1.0.27, 1.0.28, 1.0.29, 1.0.31, 1.1.0a0, 1.1.0a1, 1.1.0a2, 1.1.0a3, 1.1.0a4, 1.1.0, 1.1.1, 1.1.2, 1.1.3, 1.1.4, 1.1.5, 1.1.6, 1.1.7, 1.1.8, 1.1.9, 1.1.10, 1.1.11, 1.1.12, 1.1.13, 1.1.14, 1.1.15, 1.1.16, 1.1.17)
ERROR: No matching distribution found for cvxpy==1.0.31
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)

In [4]:
# ! pip install opencv-python

Requirement already satisfied: opencv-python in c:\programdata\anaconda3\lib\site-packages (4.5.4.60)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from opencv-python) (1.19.5)

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)

In [1]:
# Imports

from zipfile import ZipFile
import os
import shutil
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import cv2

In [2]:
ROOT_DIR = os.getcwd()
child_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))

print(ROOT_DIR)

D:\Code\deep-age-detec\Age_Classification_with_Faces\code

In [3]:
# Creating a list of all currently installed python libraries.
# !pip freeze > requirements.txt

## Exploratory Data Analysis (EDA)

### *facial-age* dataset (9,778 images)

In [4]:
# Unzipping the dataset file facial-age.zip

if not os.path.exists(ROOT_DIR + "\ZIPPED_DATASETS"):
    facial_age_zip_path = ROOT_DIR + "\ZIPPED_DATASETS-20211024T121156Z-001.zip"
    with ZipFile(facial_age_zip_path, 'r') as myzip:
        myzip.extractall()
        print('Done unzipping facial-age.zip')
else:
    print("Already unziped")

Already unziped

***facial-age* dataset** contains **9,778 RGB images of faces** in **PNG** format of size **200x200 pixels** each. The images are separated into folders where the **folder names correspond to the age labels of images inside those folders**.

In [5]:
# Accessing all folder names to get list of labels.

facial_age_path =  ROOT_DIR + r"\ZIPPED_DATASETS\facial-age"
facial_age_folders = os.listdir(facial_age_path)

In [6]:
# Sorting the folder names (age labels) in ascending order.

facial_age_folders = np.sort(facial_age_folders)
facial_age_folders

array(['001', '002', '003', '004', '005', '006', '007', '008', '009',
       '010', '011', '012', '013', '014', '015', '016', '017', '018',
       '019', '020', '021', '022', '023', '024', '025', '026', '027',
       '028', '029', '030', '031', '032', '033', '034', '035', '036',
       '037', '038', '039', '040', '041', '042', '043', '044', '045',
       '046', '047', '048', '049', '050', '051', '052', '053', '054',
       '055', '056', '057', '058', '059', '060', '061', '062', '063',
       '064', '065', '066', '067', '068', '069', '070', '071', '072',
       '073', '074', '075', '076', '077', '078', '079', '080', '081',
       '082', '083', '084', '085', '086', '087', '088', '089', '090',
       '091', '092', '093', '095', '096', '099', '100', '101', '110'],
      dtype='<U3')

In [7]:
# Accessing the images inside every folder and storing the info in a dictionary with
# the age labels (folder name) as keys and the no. of images in each folder as values.

facial_age_images = {}

for age in facial_age_folders:
    temp_path = os.path.join(facial_age_path, age)
    n_images = len(os.listdir(temp_path))
    facial_age_images[int(age)] = n_images

In [8]:
# Accessing the dictionary to get no. of images corresponding to age 1 in facial-age dataset.

facial_age_images[1]

1112

In [9]:
# Checking total no. of images to ensure correctness of above code.
# Total no. of images in facial-age dataset is 9778.

sum(facial_age_images.values())

9778

### *UTKFace* dataset (23,708 images)

In [10]:
# Unzipping the dataset file UTKFace.zip

utkface_zip_path = ROOT_DIR + r"\ZIPPED_DATASETS\UTKFace.zip"

with ZipFile(utkface_zip_path, 'r') as myzip:
    myzip.extractall()
    print('Done unzipping UTKFace.zip')

Done unzipping UTKFace.zip

***UTKFace* dataset** contains **23,708 RGB images of faces** in **JPG** format of size **200x200 pixels** each. The **labels of images are embedded in the file names, formatted like *\[age]\_\[gender]\_\[race]\_\[date&time].jpg***.

In [11]:
# Accessing all image file names so as to be able to separate the age labels.

utkface_path = 'UTKFace'
utkface_image_names = os.listdir(utkface_path)

In [12]:
# Checking total no. of images to ensure correctness of above code.
# Total no. of images in UTKFace dataset is 23708.

len(utkface_image_names)

23708

In [13]:
# Defining a function to generate the labels from the image file names according to the format given above.

def age_gender_race_split(image_name):
    image_labels = image_name.split('_')
    age = image_labels[0]
    gender = image_labels[1]
    race = image_labels[2]

    return (age, gender, race)

In [14]:
# Applying the above function on each image file name using a for loop and storing the labels in relevant arrays.

utkface_age_labels = np.array([])
utkface_gender_labels = np.array([])
utkface_race_labels = np.array([])

for image in utkface_image_names:
    age, gender, race = age_gender_race_split(image)
    utkface_age_labels = np.append(utkface_age_labels, age)
    utkface_gender_labels = np.append(utkface_gender_labels, gender)
    utkface_race_labels = np.append(utkface_race_labels, race)

In [15]:
# Grouping by the age labels and checking the no. of images per age label.

utkface_ages_counts = pd.Series(utkface_age_labels).value_counts()
utkface_ages_counts

26     2197
1      1123
28      918
35      880
24      859
       ...
115       3
101       2
91        2
111       1
103       1
Length: 104, dtype: int64

In [16]:
# Storing the grouped age labels series generated above in a dictionary with
# the age labels as keys and the no. of images per age label as values.

utkface_images = {}

for age, counts in utkface_ages_counts.items():
    utkface_images[int(age)] = counts

In [17]:
# Accessing the dictionary to get no. of images corresponding to age 1 in UTKFace dataset.

utkface_images[1]

1123

In [18]:
# Checking total no. of images to ensure correctness of above code.
# Total no. of images in UTKFace dataset is 23708.

sum(utkface_images.values())

23708

In [19]:
# Grouping by the gender labels and checking the no. of images per gender label.
# 0 = Male, 1 = Female
# This is just for extra info and will not be used in the model.

pd.Series(utkface_gender_labels).value_counts()

0    12391
1    11317
dtype: int64

In [20]:
# Grouping by the race labels and checking the no. of images per race label.
# 0 = White, 1 = Black, 2 = Asian, 3 = Indian, 4 = Others (like Hispanic, Latino, Middle Eastern)
# This is just for extra info and will not be used in the model.

pd.Series(utkface_race_labels).value_counts()

# 3 images don't have race labels in their file name, as seen below.

0                                 10078
1                                  4526
3                                  3975
2                                  3434
4                                  1692
20170109150557335.jpg.chip.jpg        1
20170109142408075.jpg.chip.jpg        1
20170116174525125.jpg.chip.jpg        1
dtype: int64

### Classes for Age Classification

In this section, I will **combine the different age labels into classes of age-ranges** so as to prepare the datasets for age classification modelling later. As this project is not specifically aimed at solving any particular data science problem, the choice of division of age-ranges into classes is quite flexible. However, it is still necessary to identify a few constraints to this process in the context of this project. The **following constraints are identified**:
1. **Classes need to be *balanced*** - Classes of age-ranges should be established according to the number of images available per age label, such that the classes are as balanced as possible. *This will ensure that the classification model learns to classify each age-range equally.*
2. **No. of classes need to be *sufficient*** - The number of classes of age-ranges needs to be chosen appropriately. Too many classes will result in very narrow age-ranges, which may badly affect the model performance (it is generally more difficult to predict someone's age exactly down to the year). Too few classes will result in very wide age-ranges, which may not serve the purpose of the age classification modelling itself. *6-12 classes* may be appropriate in this scenario.
3. **Each class needs to have *sufficient data*** - The number of classes of age-ranges will also depend on the resulting number of images available for each class in the dataset. *Too many classes will result in narrow age-ranges, thus reducing the no. of images available for training the model on each class.* However, this may not be a significant factor since *data augmentation* techniques are readily available and, if needed, can be employed to increase the no. of images available per class.

**Caveat** - *The constraints identified above imply that in this project, I am using the amount of data available as a driving factor in defining the nature of my classification problem. This may not be an ideal approach in a real-world data science problem. In reality, the ideal approach would be to first establish the classes for the model according to the data science problem at hand, and then collect a sufficient amount of data for each class so as to appropriately solve the data science problem. However, given the amateur nature of this project and my limited access to readily available facial image data for age classification, I believe this approach is justified in this scenario.*

In [21]:
# Checking no. of unique age values in facial-age dataset.

facial_age_ages = list(facial_age_images.keys())
len(facial_age_ages)

99

In [22]:
# Checking no. of unique age values in UTKFace dataset.

utkface_ages = list(utkface_images.keys())
len(utkface_ages)

104

In [23]:
# Combining the lists of age values from the two datasets and
# converting the combined list to a set to keep only the unique age values.

facial_age_ages.extend(utkface_ages)
unique_ages = set(facial_age_ages)

In [24]:
# Checking no. of unique age values in both datasets combined.

len(unique_ages)

104

In [25]:
# Creating a dictionary of age labels as keys and no. of images per age label in both datasets combined as values,
# using the two dictionaries defined above.

combined_images = {}

for age in unique_ages:
    fc_image = 0
    utk_image = 0

    # Using try-except loop to avoid KeyError in case a particular age value does not exist in the dictionary.
    try:
        fc_image = facial_age_images[age]
    except:
        pass
    
    try:
        utk_image = utkface_images[age]
    except:
        pass
    
    # Summing up the no. of images for the age label.
    combined_images[age] = fc_image + utk_image

In [26]:
# Checking total no. of images in both datasets combined to ensure correctness of above code.

sum(combined_images.values())

33486

In [27]:
# Checking total no. of images by summing up no. of images in facial-age and UTKFace datasets.

sum(facial_age_images.values()) + sum(utkface_images.values())

33486

In [28]:
# Creating a dataframe to store the no. of images per age label in facial-age dataset, UTKFace dataset and the combined dataset.

images_df = pd.DataFrame(combined_images.values(), index=combined_images.keys(), columns=['combined_images'])
images_df['facial_age_images'] = pd.Series(facial_age_images)
images_df['utkface_images'] = pd.Series(utkface_images)

images_df

     combined_images  facial_age_images  utkface_images
1               2235             1112.0            1123
2                957              475.0             482
3                573              284.0             289
4                533              260.0             273
5                376              180.0             196
..               ...                ...             ...
105                5                NaN               5
110                7                2.0               5
111                1                NaN               1
115                3                NaN               3
116                4                NaN               4

[104 rows x 3 columns]

In [29]:
# Imputing the null values in above dataframe with 0s.

images_df.fillna(0, inplace=True)
images_df = images_df.astype(int)

images_df

     combined_images  facial_age_images  utkface_images
1               2235               1112            1123
2                957                475             482
3                573                284             289
4                533                260             273
5                376                180             196
..               ...                ...             ...
105                5                  0               5
110                7                  2               5
111                1                  0               1
115                3                  0               3
116                4                  0               4

[104 rows x 3 columns]

In [30]:
# Exporting above created dataframe as a CSV file.
from pathlib import Path

images_df.to_csv( child_dir + r"\input_output\images_summary.csv", index=True, index_label='age')

As explained above, I will now **combine the different age labels into classes of age-ranges** so as to prepare the datasets for age classification modelling. The different possible combinations of age ranges will be generated using a function defined below.

In [31]:
# Defining a function to split the images in each dataset into n classes (user input).
# Function INPUT: Dataset series of no. of images per age index, and n_classes. 
# Function OUTPUT: Dataset broken up into n_classes with age-ranges, no. of images and proportion balance per class.

def split_classes(ser, n_classes):

    # Calculating the target number of images per class depending on the total no. of images in the dataset.
    n_images = int(sum(ser) / n_classes)

    print(f"Total no. of images in dataset\t= {sum(ser)}")
    print(f"No. of classes desired\t\t= {n_classes}")
    print(f"So, target no. of images/class\t>= {sum(ser)}/{n_classes} = ~{n_images}")
    print()

    # Initiating a dataframe to show the breakdown of age-ranges as output.
    classes_df = pd.DataFrame(columns=['Age-ranges (classes)', 'No. of images', 'Class balance (%)'])

    # Initiating an age index variable to be used to iterate through the ages in the given input series.
    age_index = 0

    for i in range(n_classes):

        # Storing the starting age of the class in a variable age_start.
        # Storing the current age being iterated in a variable age_current.
        # Keeping track of age_index variable so as not to let it go out of index.
        if age_index<=103:
            age_start = ser.index[age_index]
            age_current = ser.index[age_index]
        else:
            break

        # Initiating a new variable to keep track of no. of images added to current class.
        class_images = 0
        
        # Iterating through the ages in the given input series and adding up the no. of images
        # until it exceeds the target number of images per class, using the age_index and age_current variables.
        while class_images < n_images:
            class_images += ser[age_current]
            age_index += 1

            # Keeping track of age_index variable so as not to let it go out of index.
            if age_index<=103:
                age_current = ser.index[age_index]
            else:
                break

        # Storing the ending age of the class in a variable age_end.
        # Keeping track of age_index variable so as not to let it go out of index.
        if age_index<=104:
            age_end = ser.index[age_index-1]
        else:
            break
        
        # Adding the above calculated variables into the dataframe for easier printing and analysis.
        classes_df.loc[i, 'Age-ranges (classes)'] = str(age_start)+" - "+str(age_end)
        classes_df.loc[i, 'No. of images'] = class_images
        classes_df.loc[i, 'Class balance (%)'] = round((class_images / sum(ser)) * 100, 2)
    
    # Calculating some basic statistics about no. of images and the class balance.
    mean_images = int(round(np.mean(classes_df.loc[:, 'No. of images'])))
    mean_balance = round(np.mean(classes_df.loc[:, 'Class balance (%)']), 2)
    std_balance = round(np.std(classes_df.loc[:, 'Class balance (%)']), 2)
    
    print(f"Mean no. of images/class\t= ~{mean_images}")
    print(f"Mean class balance\t\t= {mean_balance}%")
    print(f"Std. of class balance\t\t= {std_balance}%")
    print()

    # Returning the dataframe with all the classes info.
    return classes_df

In [32]:
# Applying the above function on facial-age dataset to split it into 11 classes.

facial_age_classes = split_classes(images_df['facial_age_images'], 11)
facial_age_classes

Total no. of images in dataset	= 9778
No. of classes desired		= 11
So, target no. of images/class	>= 9778/11 = ~888

Mean no. of images/class	= ~978
Mean class balance		= 10.0%
Std. of class balance		= 1.13%

  Age-ranges (classes) No. of images Class balance (%)
0                1 - 1          1112             11.37
1                2 - 4          1019             10.42
2               5 - 10           955              9.77
3              11 - 18          1020             10.43
4              19 - 26          1154              11.8
5              27 - 34           901              9.21
6              35 - 45           935              9.56
7              46 - 56          1017              10.4
8              57 - 70           924              9.45
9             71 - 116           741              7.58

In [33]:
# Applying the above function on UTKFace dataset to split it into 11 classes.

utkface_classes = split_classes(images_df['utkface_images'], 11)
utkface_classes

Total no. of images in dataset	= 23708
No. of classes desired		= 11
So, target no. of images/class	>= 23708/11 = ~2155

Mean no. of images/class	= ~2371
Mean class balance		= 10.0%
Std. of class balance		= 1.36%

  Age-ranges (classes) No. of images Class balance (%)
0                1 - 4          2167              9.14
1               5 - 18          2328              9.82
2              19 - 24          2408             10.16
3              25 - 26          2931             12.36
4              27 - 30          2827             11.92
5              31 - 35          2446             10.32
6              36 - 42          2291              9.66
7              43 - 53          2313              9.76
8              54 - 65          2298              9.69
9             66 - 116          1699              7.17

In [34]:
# Applying the above function on the combined facial-age and UTKFace datasets to split them into 12 classes.

combined_classes = split_classes(images_df['combined_images'], 12)
combined_classes

Total no. of images in dataset	= 33486
No. of classes desired		= 12
So, target no. of images/class	>= 33486/12 = ~2790

Mean no. of images/class	= ~3044
Mean class balance		= 9.09%
Std. of class balance		= 0.68%

   Age-ranges (classes) No. of images Class balance (%)
0                 1 - 2          3192              9.53
1                 3 - 9          2816              8.41
2               10 - 20          3136              9.37
3               21 - 25          3474             10.37
4               26 - 27          3217              9.61
5               28 - 31          3063              9.15
6               32 - 36          3086              9.22
7               37 - 45          3207              9.58
8               46 - 54          2802              8.37
9               55 - 65          2796              8.35
10             66 - 116          2697              8.05

In [35]:
# Exporting above created dataframe as a CSV file.

combined_classes.to_csv(child_dir + r"\input_output\combined_faces_classes_summary.csv", index=True, index_label='Class label')

## Dataset Preparation

### Merging the Datasets

In this section, I will **merge the *facial-age* and *UTKFace* datasets into one *combined_faces* dataset**.

The PNG images from the *facial-age* dataset will also be **converted to JPG** format before merging.

In [37]:
progress_counter = 0
age_file_counter = [1] * 117

print("Merging images from facial-age dataset into combined_faces.\n")

for age in facial_age_folders:
    age_path = os.path.join(facial_age_path, age)

    img_files = os.listdir(age_path)

    for img in img_files:

        img_src = os.path.join(age_path, img)

        new_filename = str(int(age)) + "_" + str(age_file_counter[int(age)]) + ".jpg"
        age_file_counter[int(age)] += 1

        img_dest = os.path.join(ROOT_DIR + r"\content\combined_faces", new_filename)

        # Converting the .PNG images to .JPG so as to maintain consistency with of filetype throughout the combined datasets.
        png_image = cv2.imread(img_src)
        cv2.imwrite(img_dest, png_image, [int(cv2.IMWRITE_JPEG_QUALITY), 100])

        progress_counter += 1

        if progress_counter % 1000 == 0:
            print(f"Images copied to combined_faces folder: {progress_counter} of 33486")

print("\nMerging images from UTKFace dataset into combined_faces.\n")

for img in utkface_image_names:

    file_type = img.split(".")[-1]
    age = img.split("_")[0]

    img_src = os.path.join(utkface_path, img)

    new_filename = age + "_" + str(age_file_counter[int(age)]) + "." + file_type
    age_file_counter[int(age)] += 1

    img_dest = os.path.join(ROOT_DIR + r"\content\combined_faces", new_filename)

    shutil.copy(img_src, img_dest);
    progress_counter += 1

    if progress_counter % 1000 == 0:
        print(f"Images copied to combined_faces folder: {progress_counter} of 33486")

print("\nDone merging images from both datasets into combined_faces.")

Merging images from facial-age dataset into combined_faces.

Images copied to combined_faces folder: 1000 of 33486
Images copied to combined_faces folder: 2000 of 33486
Images copied to combined_faces folder: 3000 of 33486
Images copied to combined_faces folder: 4000 of 33486
Images copied to combined_faces folder: 5000 of 33486
Images copied to combined_faces folder: 6000 of 33486
Images copied to combined_faces folder: 7000 of 33486
Images copied to combined_faces folder: 8000 of 33486
Images copied to combined_faces folder: 9000 of 33486

Merging images from UTKFace dataset into combined_faces.

Images copied to combined_faces folder: 10000 of 33486
Images copied to combined_faces folder: 11000 of 33486
Images copied to combined_faces folder: 12000 of 33486
Images copied to combined_faces folder: 13000 of 33486
Images copied to combined_faces folder: 14000 of 33486
Images copied to combined_faces folder: 15000 of 33486
Images copied to combined_faces folder: 16000 of 33486
Images copied to combined_faces folder: 17000 of 33486
Images copied to combined_faces folder: 18000 of 33486
Images copied to combined_faces folder: 19000 of 33486
Images copied to combined_faces folder: 20000 of 33486
Images copied to combined_faces folder: 21000 of 33486
Images copied to combined_faces folder: 22000 of 33486
Images copied to combined_faces folder: 23000 of 33486
Images copied to combined_faces folder: 24000 of 33486
Images copied to combined_faces folder: 25000 of 33486
Images copied to combined_faces folder: 26000 of 33486
Images copied to combined_faces folder: 27000 of 33486
Images copied to combined_faces folder: 28000 of 33486
Images copied to combined_faces folder: 29000 of 33486
Images copied to combined_faces folder: 30000 of 33486
Images copied to combined_faces folder: 31000 of 33486
Images copied to combined_faces folder: 32000 of 33486
Images copied to combined_faces folder: 33000 of 33486

Done merging images from both datasets into combined_faces.

In [38]:
# Defining a function to get all paths of files before zipping combined_faces folder.

def get_all_file_paths(path):

    file_paths = []

    # Crawling through each directory and subdirectories at the given path.
    for root, dirs, files in os.walk(path):
        for filename in files:
            filepath = os.path.join(root, filename)
            file_paths.append(filepath)

    # Returning all file paths.
    return file_paths

# Calling above defined function to get file paths of all images before zipping the folder.
file_paths = get_all_file_paths(ROOT_DIR + r"\content\combined_faces")

In [39]:
# Zipping the combined_faces dataset folder.

combined_faces_zip_path = ROOT_DIR + r"\ZIPPED_DATASETS\combined_faces.zip"

with ZipFile(combined_faces_zip_path, 'w') as myzip:
    for file in file_paths:
        myzip.write(file)
    print('Done zipping combined_faces!')

Done zipping combined_faces!